form(id="swim-form" ng-submit="saveSwims()")
	include ../nav.jade
	div(class='row')
		div(class="page-header")
			h1 Swims
		div(class="col-md-4 col-sm-12" ng-repeat="employee in swims")
			div(class="panel panel-info ")
				div(class="panel-heading")
					h3(class="panel-title") {{ employee.name }}
				div(class="panel-body")
					ul(class="list-group" dnd-list="employee.tasks")
						li(
							class="list-group-item"
							ng-repeat="task in employee.tasks" 
							dnd-draggable="task"
							dnd-moved="employee.tasks.splice($index, 1)"
							dnd-effect-allowed="move"
							dnd-selected="swims.selected = task"
							ng-class="{'list-group-item-success': swims.selected === task}"
						)
							div
								div(class="fa fa-bars")
								div(class="form-group" dnd-nodrag)
									input(ng-model="task.name" type="text" class="form-control" placeholder="Task Name" required)
								div(class="form-group" dnd-nodrag)
									div(class="input-group")
										span(class="input-group-addon" id="date-addon")
											i(class="fa fa-calendar-o")
										datepicker(date-format="yyyy-MM-dd")
											input(ng-model="task.due" type="text" class="form-control" aria-describedby="date-addon" required)
								div(class="form-group" dnd-nodrag)
									label() Task Description
									textarea(ng-model="task.description" class="form-control" placeholder="Task Description" required)

div(class='row')
	pre
		code()
			{{ data }}